<section class="about-center">
  <div class="container">
    <h2 class="title-h2">История создания</h2>
    <div class="text-opening">
      <div class="text-opening__box">
        <p>В июне 2020 года выпускниками факультета политологии МГУ имени М.В. Ломоносова Александром Шабалтиным и Марией Сушенцовой была создана Ассоциация выпускников факультета политологии МГУ.</p>
        <p>Комьюнити начало формировать на страницах в социальных сетях, где было опубликовано более 30 интервью с выпускниками, проводилась рубрика «День в сториз». В Ассоциацию все чаще стали поступать запросы с размещением вакансий. Появились первые кейсы с успешным трудоустройством: 50 студентов были устроены на практику; 15 выпускников трудоустроены.</p>
        <p>В 2022 году основатели организации подали документы на регистрацию в Минюст. Позже организация получила официальный статус АНО «Центр развития гуманитарных технологий «НОВАЯ ЭРА» и расширила свою целевую аудиторию. Студенты и выпускники МГИМО, НИУ ВШЭ, РГГУ, ГУУ и других российских университетов стали частью сообщества. В рамках Центра развития реализуются проекты по различным направлениям, организуются образовательные лекции и мастер-классы, проводятся неформальные мероприятия. В ближайшее время будет создан Эндаумент фонд выпускников для поддержки студентов и молодых ученых.</p>
      </div>
      <button class="text-opening__more" type="button">Развернуть</button>
    </div>
  </div>
</section>