<section class="about">
  <div class="container">
    <div class="about__text">НОВАЯ ЭРА — научно-образовательный и просветительский проект поддержки гуманитарных инициатив, который
      <span class="about__text-center"><a href="./center.html">объединяет активных выпускников ведущих вузов России</a></span> и является площадкой для актуального <span class="about__text-club"><a href="./club.html">философско-политологического дискурса</a></span>.
      <div class="about__tooltip about__tooltip-center">
        <div class="about__tooltip-title">Центр развития гуманитарных технологий</div>
        <div class="about__tooltip-description">
          <p>Всероссийское профессиональное сообщество студентов и выпускников социально-гуманитарных факультетов российских вузов, объединённых для реализации гражданского, профессионального, творческого и научного потенциала.</p>
          <ul>
            <li>посещение встреч и лекции Центра развития</li>
            <li>доступ к базе вакансий работодателей</li>
            <li>участие в стипендиальной и грантовой программах</li>
          </ul>
        </div>
      </div>
      <div class="about__tooltip about__tooltip-club">
        <div class="about__tooltip-title">философский клуб</div>
        <div class="about__tooltip-description">
          <p>Миссия клуба — стать ядром российского познавательного сообщества, разделяющего базовые ценности Российской цивилизации и широко транслирующего цивилизационные смыслы Русского мира.</p>
        </div>
      </div>
    </div>
  </div>
</section>