<div class="filter-library">
  <button class="btn btn-gray" type="button">А</button>
  <button class="btn btn-gray" type="button">Б</button>
  <button class="btn btn-gray" type="button">В</button>
  <button class="btn btn-gray" type="button">Г</button>
  <button class="btn btn-gray" type="button">Д</button>
  <button class="btn btn-gray" type="button">Е</button>
  <button class="btn btn-gray" type="button">Ё</button>
  <button class="btn btn-gray" type="button">Ж</button>
  <button class="btn btn-gray" type="button">З</button>
  <button class="btn btn-gray" type="button">И</button>
  <button class="btn btn-gray" type="button">Й</button>
  <button class="btn btn-gray" type="button">К</button>
  <button class="btn btn-gray" type="button">Л</button>
  <button class="btn btn-gray" type="button">М</button>
  <button class="btn btn-gray" type="button">Н</button>
  <button class="btn btn-gray" type="button">О</button>
  <button class="btn btn-gray" type="button">П</button>
  <button class="btn btn-gray" type="button">Р</button>
  <button class="btn btn-gray" type="button">С</button>
  <button class="btn btn-gray" type="button">Т</button>
  <button class="btn btn-gray" type="button">У</button>
  <button class="btn btn-gray" type="button">Ф</button>
  <button class="btn btn-gray" type="button">Х</button>
  <button class="btn btn-gray" type="button">Ц</button>
  <button class="btn btn-gray" type="button">Ч</button>
  <button class="btn btn-gray" type="button">Ш</button>
  <button class="btn btn-gray" type="button">Щ</button>
  <button class="btn btn-gray" type="button">Э</button>
  <button class="btn btn-gray" type="button">Ю</button>
  <button class="btn btn-gray" type="button">Я</button>
</div>