<section class="intro intro-club" xmlns="http://www.w3.org/1999/html">
  @@include("./breadcrumbs.html", {
    context: {
      'lastBreadcrumb': 'Философский клуб',
      arr: [
        {'text': 'Главная', 'link': './'},
      ],
    }
  })

  <div class="container">
    <h1 class="title-h1">Философский клуб</h1>
    <div class="intro__description">Миссия клуба — стать ядром российского познавательного сообщества, разделяющего базовые ценности Российской цивилизации и широко транслирующего цивилизационные смыслы Русского мира.</div>
  </div>
</section>