<section class="intro intro-center" xmlns="http://www.w3.org/1999/html">
  @@include("./breadcrumbs.html", {
    context: {
      'lastBreadcrumb': 'Центр развития гуманитарных технологий',
      arr: [
        {'text': 'Главная', 'link': './'},
      ],
    }
  })

  <div class="container">
    <h1 class="title-h1">Центр развития гуманитарных технологий</h1>
    <div class="intro__description">Всероссийское профессиональное сообщество студентов и выпускников социально-гуманитарных факультетов российских вузов, объединённых для реализации гражданского, профессионального, творческого и научного потенциала.</div>
  </div>
</section>