<div class="lk-sidebar">
  <ul class="lk-sidebar__list">
    <li class="lk-sidebar__item">
      <a class="lk-sidebar__link @@if (context.linkActive === 1){active}" href="./lk-personal-data.html">
        <span>Личные данные</span>
      </a>
    </li>
    <li class="lk-sidebar__item">
      <a class="lk-sidebar__link @@if (context.linkActive === 2){active}" href="./lk-contacts.html">
        <span>Контакты и социальные сети</span>
      </a>
    </li>
    <li class="lk-sidebar__item">
      <a class="lk-sidebar__link @@if (context.linkActive === 3){active}" href="./lk-education.html">
        <span>Образование и интересы</span>
      </a>
    </li>
    <li class="lk-sidebar__item">
      <a class="lk-sidebar__link @@if (context.linkActive === 4){active}" href="./lk-safety.html">
        <span>Безопасность</span>
      </a>
    </li>
    <li class="lk-sidebar__item">
      <a class="lk-sidebar__link @@if (context.linkActive === 5){active}" href="./lk-subscriptions.html">
        <span>Настройка подписки</span>
      </a>
    </li>
    <!--<li class="lk-sidebar__item">
      <a class="lk-sidebar__link @@if (context.linkActive === 6){active}" href="./lk-nir.html">
        <span>НИР</span>
      </a>
    </li>-->
  </ul>
</div>
