<section class="nir">
  <div class="container">
    <div class="row">
      <h2 class="title-h2">Научно-исследовательские работы</h2>
      <a class="nir__more" href="./nir.html"><span>Смотреть все работы</span></a>
    </div>
    <div class="swiper-container">
      <div class="swiper-wrapper">
        @@for (var i = 0; i < context.arrNir.length; i++) {
        <div class="swiper-slide">
          <div class="nir__box">
            <div class="nir__box-image">
              <img src="`+context.arrNir[i].img+`" alt="">
            </div>
            <div class="nir__box-chapter">`+context.arrNir[i].chapter+`</div>
            <div class="nir__box-type">`+context.arrNir[i].type+`</div>
            <div class="nir__box-content">
              <div class="nir__box-text">`+context.arrNir[i].text+`</div>
              <div class="nir__box-info">
                Автор: <span class="news__box-city">`+context.arrNir[i].author+`</span>
              </div>
            </div>
            <a class="nir__box-link" href="`+context.arrNir[i].link+`"></a>
          </div>
        </div>
        }
      </div>
      <div class="nir__slider__navigation">
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>
  </div>
</section>