<div id="application" class="popup">
  <div class="popup__wrapper">
    <div class="popup__close">
      <svg xmlns="http://www.w3.org/2000/svg" version="1.1"  width="512" height="512" x="0" y="0" viewBox="0 0 512.001 512.001"><path d="M284.286,256.002L506.143,34.144c7.811-7.811,7.811-20.475,0-28.285c-7.811-7.81-20.475-7.811-28.285,0L256,227.717    L34.143,5.859c-7.811-7.811-20.475-7.811-28.285,0c-7.81,7.811-7.811,20.475,0,28.285l221.857,221.857L5.858,477.859    c-7.811,7.811-7.811,20.475,0,28.285c3.905,3.905,9.024,5.857,14.143,5.857c5.119,0,10.237-1.952,14.143-5.857L256,284.287    l221.857,221.857c3.905,3.905,9.024,5.857,14.143,5.857s10.237-1.952,14.143-5.857c7.811-7.811,7.811-20.475,0-28.285 L284.286,256.002z" data-original="#000000"></path></svg>
    </div>
    <div class="popup__title">Подать заявку</div>
    <form class="popup__content">
      <div class="popup__box">

        <div class="popup__application">
          <a class="btn btn-gray @@if (!context.auth){closed}" href="javascript:void(0);">Опубликовать работу</a>
          <a class="btn btn-gray @@if (!context.auth){closed}" href="javascript:void(0);">Получить стипендию</a>
          <a class="btn btn-gray @@if (!context.auth){closed}" href="javascript:void(0);">Получить грунт</a>
        </div>

      </div>
      @@if (!context.auth){
      <div class="popup__bottom">
        <div class="popup__text">Для доступа к функционалу необходимо <a class="popup__link js-popup" href="#auth"><span>авторизоваться</span></a> на портале</div>
      </div>
      }
    </form>
  </div>
</div>