<div class="search">
  @@include("./input.html", {
    context: {
      classesList: "input-search",
      required: false,
      disabled: false,
      readonly: false,
      datepicker: false,
      type: "text",
      label: "",
      placeholder: "Поиск",
      icon: '<svg width="17" height="17" xmlns="http://www.w3.org/2000/svg"><path d="M7 0a7 7 0 015.6 11.2l.012.009.094.083 3.02 3.01a1 1 0 01-1.318 1.499l-.094-.083-3.02-3.01a1.023 1.023 0 01-.094-.108A7 7 0 117 0zm0 2a5 5 0 100 10A5 5 0 007 2z" fill-rule="evenodd"/></svg>',
      value: "",
      message: "",
    }
  })
</div>