@import "partials/params";
@import "partials/mixins";

html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  position: relative;
  font-family: 'GothamPro';
  font-weight: 400;
  font-size: 14px;
  background-color: $white;
  color: $black;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  max-width: 100%;
  padding-top: 90px;
  padding-bottom: 40px;
  overflow: hidden;
  z-index: 2;
  @media screen and ($tablet1) {
    padding-top: 120px;
    padding-bottom: 60px;
  }
  @media screen and ($desktop1) {
    padding-top: 150px;
  }
  @media screen and ($desktop2) {
    padding-top: 180px;
  }

  &.main-intro {
    padding-top: 0 !important;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: $black;
  line-height: 1.4em;
  padding: 0;
  margin: 0;
}

div {
  color: $black;
  padding: 0;
  margin: 0;
}

a {
  color: $black;
  text-decoration: none;
  cursor: pointer;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1900px;
  padding: 0 16px;
  margin: 0 auto;
  z-index: 2;
  @media screen and ($tablet1) {
    padding: 0 32px;
  }
  @media screen and ($desktop3) {
    padding: 0 64px;
  }
}

.row {
  display: flex;
  justify-content: space-between;
}

.ov-hid{
  overflow-y: hidden !important;
}

.wrapper-main {
  position: relative;
  width: 100%;
  max-width: 100vw;
  z-index: 1;

  & .container {
    position: relative;
    display: flex;
    flex-direction: column;
    @media screen and ($desktop2) {
      display: grid;
      grid-template-columns: minmax(300px, 1334fr) 394fr;
      grid-template-rows: auto 1fr;
      grid-column-gap: 32px;
    }
    @media screen and ($desktop3) {
      grid-column-gap: 64px;
    }
  }
}

.text-opening {
  &.active {
    & .text-opening__box {
      max-height: 100vh;
      opacity: 1;
      /*overflow: visible;*/
      transition: max-height $transition-time-middle ease-in, opacity $transition-time-middle ease-in;

      &:before {
        height: 0;
        transition: height $transition-time-middle;
      }
    }
  }

  &__box {
    position: relative;
    overflow: hidden;
    transition: max-height $transition-time-middle ease-out, opacity $transition-time-middle ease-out;
    max-height: 210px;
    @media screen and ($tablet1) {
      max-height: 250px;
    }

    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 60px;
      left: 0;
      bottom: 0;
      background: linear-gradient(to top, $white 0, rgba(255,255,255, 0) 100%);
      transition: height $transition-time-middle;
      @media screen and ($tablet1) {
        height: 100px;
        background: linear-gradient(to top, $white 10px, rgba(255,255,255, 0) 100%);
      }
    }

    & * {
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      color: $black;
      @media screen and ($tablet1) {
        font-size: 16px;
        line-height: 28px;
      }
      @media screen and ($desktop2) {
        font-size: 18px;
        line-height: 36px;
      }
    }

    & p {
      margin-bottom: 12px;
      @media screen and ($tablet1) {
        margin-bottom: 16px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__more {
    position: relative;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    color: #878787 ;
    display: block;
    width: max-content;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 5px 0;
    transition: color $transition-time-fast;
    margin-top: 10px;
    cursor: pointer;
    @media screen and ($tablet1) {
      font-size: 14px;
      line-height: 14px;
      margin-top: 16px;
    }

    &:hover {
      color: $black;
      transition: color $transition-time-fast;
    }
  }
}

.section-default {
  position: relative;
  margin: 22px 0;
  z-index: 2;
  @media screen and ($tablet1) {
    margin: 20px 0;
  }
  @media screen and ($desktop1) {
    margin: 25px 0;
  }
  @media screen and ($desktop2) {
    margin: 30px 0;
  }
  @media screen and ($desktop3) {
    margin: 40px 0;
  }
}

.form {
  &-box {
    display: grid;
    grid-column-gap: 16px;
    grid-row-gap: 8px;
    margin-bottom: 8px;
    @media screen and ($tablet1) {
      grid-column-gap: 24px;
      grid-row-gap: 12px;
      margin-bottom: 12px;
    }
    @media screen and ($desktop3) {
      grid-column-gap: 40px;
      grid-row-gap: 20px;
      margin-bottom: 20px;
    }

    & .input {
      &-row {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: nowrap;
        margin-bottom: 4px;

        & .btn {
          font-size: 22px;
          width: 40px;
          min-width: 40px;
          height: 40px;
          border-radius: 8px;
          margin-left: 12px;
          @media screen and ($desktop1) {
            font-size: 26px;
            width: 48px;
            min-width: 48px;
            height: 48px;
            border-radius: 16px;
            margin-left: 16px;
          }
        }
      }

      &-delete {
        position: relative;
        width: 40px;
        min-width: 40px;
        height: 40px;
        margin-left: 12px;
        cursor: pointer;
        @media screen and ($desktop1) {
          width: 48px;
          min-width: 48px;
          height: 48px;
          margin-left: 16px;
        }

        &:hover {
          & svg {
            opacity: 1;
            transition: opacity $transition-time-fast;
          }
        }

        & svg {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 16px;
          height: 16px;
          opacity: 0.3;
          transition: opacity $transition-time-fast;
          @media screen and ($desktop1) {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }

  &-col {
    &-1 {
      grid-template-columns: 1fr;
    }
    &-2 {
      grid-template-columns: 1fr;
      @media screen and ($tablet1) {
        grid-template-columns: 1fr 1fr;
      }
    }
    &-3 {
      grid-template-columns: 1fr;
      @media screen and ($tablet1) {
        grid-template-columns: 1fr 1fr 1fr;
      }
    }
    &-4 {
      grid-template-columns: 1fr;
      @media screen and ($tablet1) {
        grid-template-columns: 1fr 1fr;
      }
      @media screen and ($desktop1) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
    }
    &-8 {
      grid-template-columns: 1fr 1fr;
    }
  }
}

.form-opening {
  position: relative;
  display: block;
  width: 100%;
  background-color: #F5F5F5;
  border-radius: 8px;
  margin-top: 30px;
  @media screen and ($desktop1) {
    border-radius: 16px;
    margin-top: 40px;
  }

  &.open {
    .form-opening {
      &__wrapper {
        padding: 16px 0;
        border-top: 1px solid #D9D9D9;
        max-height: 1000vh;
        overflow: visible;
        @media screen and ($tablet1) {
          padding: 20px 0;
        }
        @media screen and ($desktop2) {
          padding: 30px 0;
        }
      }
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    padding: 16px;
    @media screen and ($tablet1) {
      padding: 20px;
    }
    @media screen and ($desktop1) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    @media screen and ($desktop2) {
      padding: 30px;
    }

    &-info {
      margin-bottom: 6px;
      @media screen and ($desktop1) {
        margin-bottom: 0;
      }
    }

    &-title {
      font-weight: 700;
      text-align: left;
      font-size: 16px;
      line-height: 24px;
      //margin-bottom: 6px;
      letter-spacing: 0.01em;
      @media screen and ($tablet1) {
        font-size: 24px;
        line-height: 30px;
      }
    }

    &-description {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: $black;
      margin-top: 6px;
      margin-bottom: 6px;
      @media screen and ($tablet1) {
        font-size: 16px;
      }
      @media screen and ($desktop1) {
        margin-bottom: 0;
      }
    }

    &-button {
      @media screen and ($desktop1) {
        min-width: max-content;
        margin-left: 24px;
      }
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    border-top: 1px solid transparent;
    overflow: hidden;
    max-height: 0;
    padding: 0;
    margin: 0 16px;
    transition: border $transition-time-middle, max-height $transition-time-middle, padding $transition-time-middle;
    @media screen and ($tablet1) {
      margin: 0 20px;
    }
    @media screen and ($desktop2) {
      margin: 0 30px;
    }

    & .form-box {
      &:nth-last-child(2) {
        margin-bottom: 0;
        @media screen and ($tablet1) {
          margin-bottom: 6px;
        }
        @media screen and ($desktop2) {
          margin-bottom: 18px;
        }
      }
    }

    &-button {
      border-top: 1px solid #D9D9D9;
      padding-top: 16px;
      @media screen and ($tablet1) {
        padding-top: 20px;
      }
      @media screen and ($desktop2) {
        padding-top: 30px;
      }
    }
  }
}