@import "partials/params";
@import "partials/mixins";

.checkbox {
  width: fit-content;

  &:hover {
    & .checkbox-text {
      color: $black;
      transition: color $transition-time-fast;

      &:before {
        border: 1px solid $black;
        transition: background $transition-time-fast, border $transition-time-fast;
      }
    }
  }

  &-list {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 12px;
    width: 100%;
    list-style: none;
    padding: 12px 0;
  }

  &-item {
    position: relative;
    width: fit-content;
    margin: 0;
  }

  &-input {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;

    &:checked + .checkbox-text {
      color: $black;
      transition: color $transition-time-fast;
    }

    &:checked + .checkbox-text:before {
      background: $black;
      border: 1px solid $black;
      transition: background $transition-time-fast, border $transition-time-fast;
    }

    &:checked + .checkbox-text:after {
      opacity: 1;
      transition: opacity $transition-time-fast;
    }
  }

  &-text {
    position: relative;
    color: $black;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.1px;
    padding-left: 28px;
    cursor: pointer;
    transition: color $transition-time-fast;
    @media screen and ($desktop1) {
      font-size: 16px;
      line-height: 22px;
      padding-left: 30px;
    }
    @media screen and ($desktop2) {
      font-size: 18px;
      line-height: 24px;
      padding-left: 32px;
    }

    &:before {
      content: '';
      position: absolute;
      top: 2px;
      left: 0;
      background: $white;
      width: 16px;
      height: 16px;
      border-radius: 4px;
      border: 1px solid #D9D9D9;
      transition: background $transition-time-fast, border $transition-time-fast;
      @media screen and ($desktop1) {
        width: 18px;
        height: 18px;
      }
      @media screen and ($desktop2) {
        width: 20px;
        height: 20px;
      }
    }

    &:after {
      content: '';
      position: absolute;
      width: 9px;
      height: 7px;
      top: 7px;
      left: 4px;
      background: url("../../img/icon-accept.svg") no-repeat;
      background-position: center;
      background-size: contain;
      opacity: 0;
      transition: opacity $transition-time-fast;
      @media screen and ($desktop1) {
        width: 11px;
        height: 9px;
      }
      @media screen and ($desktop2) {
        width: 12px;
        height: 10px;
        left: 5px;
      }
    }

    & a {
      display: inline;
      color: #878787;
      padding: 2px 0;
      border-bottom: 1px solid #D9D9D9;
      transition: color $transition-time-fast, border $transition-time-fast;

      &:hover {
        color: $black;
        border-bottom: 1px solid $black;
        transition: color $transition-time-fast, border $transition-time-fast;
      }
    }
  }
}

.input-wrapper {
  &.is-disabled {
    & .checkbox-item {
      & .checkbox {
        &:hover {
          & .checkbox-text {
            &:before {
              border: 1px solid #D9D9D9;
            }
          }
        }
      }

      & .checkbox-input {
        &:checked + .checkbox-text {
          &:before {
            border: 1px solid #D9D9D9;
          }
        }
      }

      & .checkbox-text {
        color: #D9D9D9;
        cursor: default;

        &:before {
          background: #D9D9D9;
        }
      }
    }
  }

  &.is-readonly {
    & .checkbox-item {
      & .checkbox {
        &:hover {
          & .checkbox-text {
            &:before {
              border: 1px solid #D9D9D9;
            }
          }
        }
      }

      & .checkbox-input {
        &:checked + .checkbox-text {
          color: $black;
        }

        &:checked + .checkbox-text:before {
          background: $black;
          border: 1px solid $black;
          transition: background $transition-time-fast, border $transition-time-fast;
        }

        &:checked + .checkbox-text:after {
          opacity: 1;
          transition: opacity $transition-time-fast;
        }
      }

      & .checkbox-text {
        color: $black;
        cursor: default;

        &:before {
          background: $white;
          border: 1px solid #D9D9D9;
        }
      }
    }
  }

  &.is-warning {
    & .checkbox {
      &:hover {
        & .checkbox-text {
          &:before {
            border: 1px solid #DD9A1A;
          }
        }
      }
    }

    & .checkbox-item {
      & .checkbox-input {
        &:checked + .checkbox-text:before {
          background: $black;
          border: 1px solid $black;
        }
      }

      & .checkbox-text {
        &:before {
          border: 1px solid #DD9A1A;
        }
      }
    }
  }

  &.is-error {
    & .checkbox {
      &:hover {
        & .checkbox-text {
          &:before {
            border: 1px solid $red;
          }
        }
      }
    }

    & .checkbox-item {
      & .checkbox-input {
        &:checked + .checkbox-text:before {
          background: $black;
          border: 1px solid $black;
        }
      }

      & .checkbox-text {
        &:before {
          border: 1px solid $red;
        }
      }
    }
  }
}